node_modules
dist
dev-dist
*.local
.env
.env.local
.env.*.local
*.log
npm-debug.log*
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.tsbuildinfo
dist-ssr
logs
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
